.navbar {
  background-color: #191718;
  flex: 1;
  padding: 0;
  margin: 0;
  min-width: 86px;
}

.navbar ul {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
  position: fixed;
  width: calc(1 / 7 * 100%);
  min-width: 86px;
}

.navbar ul li {
  color: #aaaaaa;
  list-style: none;
  border-bottom: 0.5px solid gray;
  padding: 12px;
  min-width: 100%;
  box-sizing: border-box;
}

.navbar ul li:hover {
  color: #ffffff;
  background-color: #aaaaaa;
  cursor: pointer;
}
